/*CSS PAGE PRINCIPALE*/
body {
	margin: auto;
	width: 100%;
}

section {
	text-align: center;
	margin-top: 2%;
}

.element_jeu {
	margin-bottom: 6%;
}

footer {
	text-align: center;
}

h1 {
	font-style: italic;
}

h2 {
	color: rgb(218, 9, 15);
}

.rechercher {
	opacity: 0.7;
}

/*CSS PAGE INDEX*/
.index_entry {
	margin-bottom: 1%;
}

.index_desc {
	text-align: left;
}

.index_image {
	text-align: right;
}

/*CSS NAVBAR*/
nav {
	margin-bottom: 2%;
}

#retour_accueil {
	padding: 0 !important;	/*on enleve le padding naturel de bootstrap et on lui signale que ce CSS est prioritaire*/
}

.nav-item {
	color: rgb(218, 9, 15);
}

::placeholder {
	color: rgb(218, 9, 15);
}

/*CSS BOUTON CONNEXION*/
.formulaire {
    text-align: center;
}

#Connexion {
    background-color: white;
}

#annuler {
    color: black;
    border-radius: 10px;
}

#inscription {
    color: black;
    border-radius: 10px;
}

#bouton-connexion {
    border-radius: 10px;
}

#exampleModalLabel {
    font-family:"palatino linotype", palatino, serif;
}

#bouton-principal {
    border-radius: 10px;
}

/*PAGE INSCRIPTION*/

.page_inscription {
	margin-bottom: 3%;
}

.inscription {    
   float: right;
   padding: 5%;
}

.taille_input_inscription {
	width: 300px;
}

#image_inscription {
	width: 90%;
	height: 90%;
}

#div_image_inscription {
	margin-left: 4%;
}

/* Bouton déconnexion */

#pseudo {
	color: rgb(218, 9, 15);
	font-size: 20px;
	margin-top: 15px;
	font-weight: bold;
	font-style: italic;
	opacity: 0.8;
}

#power {
	height: 50px;
	width: 50px;
}

/*CSS PAGE DETAIL*/

#achete {
	display: block;
	margin: auto;
	height: 50px;
	width: 140px;
}

/*MEDIA QUERIES*/
/*NAVBAR*/
.ham_icon {
    display: none !important;
}

@media screen and (max-width: 1199px) {

  #accueil_logo {
  	display: none;
  }

  .hamburger {
  	display: none;
  }

  .ham_icon {
  	display: block !important;
  }

  .hamburger.responsive {float: none;}
  .hamburger.responsive {position: relative;}
  .hamburger.responsive {
    display: block;
    width: 100%;
    text-align: left;
	}
}

/*INDEX*/
@media screen and (max-width: 575px) {

	.index_image {
		text-align: center;
	}

	.index_desc {
		text-align: center;
	}
}

/*DETAILS*/
@media screen and (max-width: 499px) {
	#avis {
		width: 80% ;
	}
}

/*INSCRIPTION*/
@media screen and (min-width: 550px) and (max-width: 992px) {
	#image_inscription {
		display: none;
	}

	#div_formulaire_inscription {
		width: 80%;
		text-align: center;
	}
}