/*CSS PAGE PRINCIPALE*/
body {
	margin: auto;
	width: 100%;
}

section {
	text-align: center;
	margin-top: 2%;
}

.element_jeu {
	margin-bottom: 6%;
}

footer {
	text-align: center;
}

h1 {
	font-style: italic;
}

h2 {
	color: rgb(218, 9, 15);
}

/*CSS PAGE INDEX*/
.index_entry {
	text-align: center;
}

/*CSS NAVBAR*/
nav {
	margin-bottom: 2%;
}

#retour_accueil {
	padding: 0 !important;	/*on enleve le padding naturel de bootstrap et on lui signale que ce CSS est prioritaire*/
}

.nav-item {
	color: rgb(218, 9, 15);
}

::placeholder {
	color: rgb(218, 9, 15);
}

/*CSS BOUTON CONNEXION*/
.oui {    
	text-align: center;
}

#Connexion {    
	background-color: white;
}

#annuler {    
	color: black;
	border-radius: 10px;
}

#bouton-connexion {    
	border-radius: 10px;
}

#exampleModalLabel {    
	font-family:"palatino linotype", palatino, serif;
}

#bouton-principal {    
	border-radius: 10px;
}